header.header
  .header__contents
    a.header__logo(href="#") 
      img.contain.pc-only(src="img/logo.svg", alt="Serenity Salon")
      img.contain.tablet(src="img/logo-tab.svg")
    nav.header__nav.js-nav
      .header__anchor-list
        a.header__anchor(href="#") Home 
        .header__anchor.header__anchor--dropdown.js-dropdown About Us
          .header__submenu
            a.header__anchor(href="#about") About Us
            a.header__anchor(href="#services") Services
            a.header__anchor(href="#testimonials") Testimonials
            //- a.header__anchor(href="#branches") Branches
        a.header__anchor.tablet-flex(href="#about") About Us
        a.header__anchor.tablet-flex(href="#services") Services
        a.header__anchor.tablet-flex(href="#testimonials") Testimonials
        //- a.header__anchor.tablet-flex(href="#branches") Branches
        a.header__anchor(href="#contact") Contact
      //- .header__contact
      //-   a.header__icon(href="" target="_blank")
    .header__toggler.tablet.js-toggler
      span