@use 'settings/color' as color;
@use 'settings/font-family' as font-family;
@use 'tools/media-queries' as media-queries;

html {
  background-color: color.$white;
  font-family: font-family.$text;
  color: color.$text;
  font-size: 10px;
  scroll-behavior: smooth;
  @include media-queries.sp {
    min-width: 100%;
  }
}
