@use 'settings/color' as color;
@use 'settings/font-weight' as fw;
@use 'settings/font-family' as ff;
@use 'tools/mixin' as mixin;
@use 'tools/media-queries' as mq;

.services {
  $p: &;
  background-color: color.$light-pink;

  &__content {
    text-align: center;
    width: 100%;
  }

  &__text{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
  }

  &__container {
    max-width: 920px;
    display: flex;
    flex-direction: column;
    gap: 110px;
    margin: 7em auto 0;
    @include mq.sp-m {
      gap: 80px;
    }
  }

  &__item {
    color: color.$white;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    @include mq.sp {
      gap: 30px;
    }
    @include mq.sp-m {
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;
      padding-left: 40px;
    }

    &::before {
      content: '';
      position: absolute;
      top: -20%;
      left: -50%;
      width: 150%;
      height: 150%;
      background-color: color.$primary;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      @include mq.sp-m {
        top: -10%;
        left: -60%;
        height: 130%;
      }
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
      color: color.$text;
      @include mq.sp-m {
        flex-direction: column;
        padding-left: 100px;
      }

      &::before {
        left: auto;
        right: -50%;
        background-color: color.$white;
        @include mq.sp-m {
          right: -60%;
        }
      }
      
      #{$p}__sublist li::marker {
        color: color.$primary;
      }

      #{$p}__btn {
        border: none;
      }
    }

    &:last-child {
      
      &::before {
        height: 140%;
        @include mq.sp-m {
          height: 123%;
        }
      }
    }

    & * {
      z-index: 1;
    }
  }

  &__img {
    width: 50%;
    height: 22em;
    object-fit: contain;
    @include mq.sp-m {
      height: 15em;
      width: auto;
    }
  }

  &__item-wrap {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
    
  &__sublist {
    list-style: square;
    padding-left: 1em;

    li {
      font-size: .9em;
      line-height: 2.2em;

      &::marker {
        font-size: 1.3em;
      }
    }
  }

  &__heading {
    font: fw.$medium 1.8em ff.$heading;
  }

  &__btn {
    border: 1px solid color.$white;
  }
}