@use 'settings/color' as color;
@use 'settings/font-family' as ff;
@use 'settings/font-weight' as fw;
@use 'tools/mixin' as mixin;
@use 'tools/media-queries' as mq;

.testimonials {
  $p: &;

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
  }

  &__container {
    display: flex;
    margin-top: 2em;
    gap: 1em;
    @include mq.sp {
      flex-direction: column;
    }
  }

  &__item {
    flex: 1;
    padding: 3em 2em;
    background-color: color.$light-gray;
    text-align: center;
    font-size: .9em;
    line-height: 1.8em;
    @include mixin.center;
    justify-content: flex-start;
    @include mq.sp {
      max-width: 400px;
      margin: 0 auto;
    }
  }

  &__img {
    border-radius: 50%;
    overflow: hidden;
    height: 6em;
    width: 6em;
  }

  &__quote {
    position: relative;
    margin: 2em 0 auto;
    font-style: italic;

    &::before,
    &::after {
      position: relative;
      font: fw.$medium 3.5em ff.$heading;
      color: color.$primary;
      line-height: 0;
    }

    &::before {
      content:  ' “ ';
      top: 0.4em;
      left: 0.1em;
    }

    &::after {
      content:  ' ” ';
      bottom: -0.5em;
      right: 0.1em;
    }
  }

  &__name {
    margin-top: 1em;
    font-size: 1.5em;
    font-weight: fw.$bold;
    color: color.$gray;
  }
}