extends includes/layout.pug
include includes/mixins.pug
block content

  section.section.banner 
    .banner__content
      .banner__text
        h2.banner__heading Experience beauty beyond boundaries.
        p.banner__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies urna ac velit molestie ullamcorper. Sed varius nec purus in ultrices.
        a.button(href="")
          span Book an appointment
      .splide.banner__slider
        .splide__track
          ul.splide__list
            li.splide__slide
              +picture("banner/banner-1", "jpg", "Serenity Salon facility").cover
            li.splide__slide
              +picture("banner/banner-2", "jpg", "Serenity Salon facility").cover
            li.splide__slide
              +picture("banner/banner-3", "jpg", "Serenity Salon facility").cover
            li.splide__slide
              +picture("banner/banner-4", "jpg", "Serenity Salon facility").cover

  section.section.about#about
    .about__content.section__content
      .about__img-container 
        img.cover(src="img/about/about-1.jpg", alt="")
        img.cover(src="img/about/about-2.jpg", alt="")
      .about__text
        h2.heading About Us
        p.about__text In consequat, nisl quis dignissim auctor, arcu massa auctor purus, ut lobortis lectus erat et augue. Etiam eget maximus elit. Quisque cursus sagittis metus, nec placerat risus ultrices sit amet. Ut sollicitudin, libero ut convallis sagittis, diam nulla tempus enim, feugiat condimentum nunc sem sit amet ante.
        a.button.button--secondary(href="")
          span Find out more

  section.section.services#services
    .services__content.section__content
      .services__text
        h2.heading Services We Offer
        p Indulge in a world of beauty and relaxation with our exquisite services.
      .services__container(href="")
        .services__item
          img.services__img(src="img/services/makeup.svg", alt="")
          .services__item-wrap
            span.services__heading Makeup 
            ul.services__sublist
              li Special Occasion Makeup
              li Professional Headshot Makeup
              li Special Effects Makeup
              li Bridal Makeup
            a.button.button--small.services__btn(href="")
              span Learn More
        .services__item
          img.services__img(src="img/services/hair.svg", alt="")
          .services__item-wrap
            span.services__heading Hair Services 
            ul.services__sublist
              li Haircuts
              li Styling
              li Coloring
              li Hair Extensions
            a.button.button--small.services__btn(href="")
              span Learn More
        .services__item
          img.services__img(src="img/services/nail.svg", alt="")
          .services__item-wrap
            span.services__heading Nail Care
            ul.services__sublist
              li Manicures
              li Pedicures
              li Nail Art
              li Nail Enhancements
            a.button.button--small.services__btn(href="")
              span Learn More
        .services__item
          img.services__img(src="img/services/spa.svg", alt="")
          .services__item-wrap
            span.services__heading Spa Treatments 
            ul.services__sublist
              li Massage
              li Body Treatments
              li Facials
              li Aromatherapy
            a.button.button--small.services__btn(href="")
              span Learn More

  section.section.testimonials#testimonials
    .testimonials__content
      .testimonials__text 
        h2.heading Testimonials 
        p What our clients say about us
      .splide.testimonial__slider
        .splide__track
          ul.splide__list
            li.splide__slide
              +testimonialItem("person-1.jpg", "Phasellus vel neque iaculis, interdum arcu vitae, sollicitudin nisi. Nulla id interdum elit, sit amet ultricies sem.", " Annie Smith", "Beauty Queen")
            li.splide__slide
              +testimonialItem("person-2.jpg", "Donec mauris velit, tincidunt vitae nisl in, ultrices consequat diam. In facilisis leo ac eros dapibus, eget euismod odio consectetur.", "Katherine Wilson", "Influencer")
            li.splide__slide
              +testimonialItem("person-3.jpg", "Mauris ut suscipit urna. Etiam ex lacus, aliquet semper varius in, tristique sed turpis. Nullam vitae ligula sit amet quam facilisis commodo.", "Sasha Anderson", "Actress")
            li.splide__slide
              +testimonialItem("person-2.jpg", "Donec mauris velit, tincidunt vitae nisl in, ultrices consequat diam. In facilisis leo ac eros dapibus, eget euismod odio consectetur.", "Katherine Wilson", "Influencer")
            li.splide__slide  
              +testimonialItem("person-3.jpg", "Mauris ut suscipit urna. Etiam ex lacus, aliquet semper varius in, tristique sed turpis. Nullam vitae ligula sit amet quam facilisis commodo.", "Sasha Anderson", "Actress")

  //- section.section.branches#branches
  //-   .branches__content.section__content
  //-     h2.heading Visit our branches
  //-     .branches__container
  //-       a.branches__item(href="")
  //-         .branches__img
  //-           img(src="img/branches/moa.jpg", alt="")
  //-         h3.branches__loc Mall of Asia
  //-         ul.branches__services
  //-           li Makeup
  //-           li Hair Services
  //-           li Nailcare
  //-           li Spa Treatments 
  //-         .branches__btn.button 9 available tables
  //-       a.branches__item(href="")
  //-         .branches__img
  //-           img(src="img/branches/bgc.jpg", alt="")
  //-         h3.branches__loc BGC, Taguig City
  //-         ul.branches__services
  //-           li Makeup
  //-           li Hair Services
  //-           li Nailcare
  //-           li Spa Treatments 
  //-         .branches__btn.button 3 available tables
  //-       a.branches__item(href="")
  //-         .branches__img
  //-           img(src="img/branches/glo.jpg", alt="")
  //-         h3.branches__loc Glorietta Malls Makati
  //-         ul.branches__services
  //-           li Makeup
  //-           li Hair Services
  //-           li Nailcare
  //-           li Spa Treatments 
  //-         .branches__btn.button 5 available tables
  //-       a.branches__item(href="")
  //-         .branches__img
  //-           img(src="img/branches/cebu.jpg", alt="")
  //-         h3.branches__loc Cebu City
  //-         ul.branches__services
  //-           li Makeup
  //-           li Hair Services
  //-           li Nailcare
  //-           li Spa Treatments 
  //-         .branches__btn.button 7 available tables

  section.section.contact#contact
    .contact__content.section__content
      .contact__container
        h2.heading.contact__heading Get in touch for a Serene Experience
        .contact__info-container
          .contact__info-wrap
            span.contact__info-title Address:
            span.contact__info Mall of Asia 
          .contact__info-wrap
            span.contact__info-title Phone:
            span.contact__info +639234567890
          .contact__info-wrap
            span.contact__info-title Email:
            span.contact__info serenitysalon@gmail.com
          .contact__info-wrap
            span.contact__info-title Hours:
            span.contact__info 9:00 am - 5:00 pm
          .contact__socials
            a.contact__social-icon(href="")
            a.contact__social-icon(href="")
            a.contact__social-icon(href="")
            a.contact__social-icon(href="")
            a.contact__social-icon(href="")

      .contact__form-container 
        form(action="").contact__form 
          .contact__input-wrap 
            input(type="text" placeholder="Name" required)
          .contact__input-wrap 
            input(type="email" placeholder="Email" required)
          .contact__input-wrap 
            input(type="text" placeholder="Subject" required)
          .contact__input-wrap 
            textarea(name="subject", cols="20", rows="8" placeholder="Message")
          button(type="" value="") SUBMIT
          


block script
  script(src="js/top/index.ts")