extends includes/layout.pug
block content
  
  section.section.banner 
    .banner__content
      .banner__text
        h2.banner__heading Experience beauty beyond boundaries.
        p.banner__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies urna ac velit molestie ullamcorper. Sed varius nec purus in ultrices.
        a.button(href="")
          span Book an appointment
      .splide.banner__slider.js-slider 
        .splide__track
          ul.splide__list
            li.splide__slide
              img.cover(src="/img/banner/banner-1.jpg", alt="")
            li.splide__slide
              img.cover(src="/img/banner/banner-2.jpg", alt="")
            li.splide__slide
              img.cover(src="/img/banner/banner-3.jpg", alt="")
            li.splide__slide
              img.cover(src="/img/banner/banner-4.jpg", alt="")
            li.splide__slide
              img.cover(src="/img/banner/banner-5.jpg", alt="")
            li.splide__slide
              img.cover(src="/img/banner/banner-6.jpg", alt="")

  section.section.about#about
    .about__content.section__content
      .about__img-container 
        img.cover(src="img/about/about-1.jpg", alt="")
        img.cover(src="img/about/about-2.jpg", alt="")
      .about__text
        h2.heading Who we are?
        p.about__text In consequat, nisl quis dignissim auctor, arcu massa auctor purus, ut lobortis lectus erat et augue. Etiam eget maximus elit. Quisque cursus sagittis metus, nec placerat risus ultrices sit amet.
        a.button.button--secondary(href="")
          span Find out more

  section.section.services#services
    .services__content.section__content
      h2.heading Our Services
      .services__container(href="")
        a(href="").services__item
          img.cover(src="img/services/makeup.jpg", alt="")
          span.services__heading Makeup
          p Phasellus vel neque iaculis, interdum arcu vitae, sollicitudin nisi. Nulla id interdum elit, sit amet ultricies sem.
          .button.button--white.services__btn
            span Learn More
        a(href="").services__item
          img.cover(src="img/services/hair.jpg", alt="")
          span.services__heading Hair Services 
          p Phasellus vel neque iaculis, interdum arcu vitae, sollicitudin nisi. Nulla id interdum elit, sit amet ultricies sem.
          .button.button--white.services__btn
            span Learn More
        a(href="").services__item
          img.cover(src="img/services/nail.jpg", alt="")
          span.services__heading Nail Care
          p Phasellus vel neque iaculis, interdum arcu vitae, sollicitudin nisi. Nulla id interdum elit, sit amet ultricies sem.
          .button.button--white.services__btn
            span Learn More
        a(href="").services__item
          img.cover(src="img/services/spa.jpg", alt="")
          span.services__heading Spa Treatments 
          p Phasellus vel neque iaculis, interdum arcu vitae, sollicitudin nisi. Nulla id interdum elit, sit amet ultricies sem.        
          .button.button--white.services__btn
            span Learn More

  section.section.testimonials#testimonials
    .testimonials__content.section__content
      .testimonials__text 
        h2.heading Testimonials 
        p What our clients say about us
      .testimonials__container 
        .testimonials__item 
          .testimonials__img
            img.cover(src="img/testimonials/person-1.jpg", alt="")
          p.testimonials__quote Phasellus vel neque iaculis, interdum arcu vitae, sollicitudin nisi. Nulla id interdum elit, sit amet ultricies sem.
          span.testimonials__name Annie Smith
          span.testimonials__work Beauty Queen
        .testimonials__item 
          .testimonials__img
            img.cover(src="img/testimonials/person-2.jpg", alt="")
          p.testimonials__quote Donec mauris velit, tincidunt vitae nisl in, ultrices consequat diam. In facilisis leo ac eros dapibus, eget euismod odio consectetur.
          span.testimonials__name Katherine Wilson
          span.testimonials__work Influencer
        .testimonials__item 
          .testimonials__img
            img.cover(src="img/testimonials/person-3.jpg", alt="")
          p.testimonials__quote Mauris ut suscipit urna. Etiam ex lacus, aliquet semper varius in, tristique sed turpis. Nullam vitae ligula sit amet quam facilisis commodo.
          span.testimonials__name Sasha Anderson
          span.testimonials__work Actress

  section.section.branches#branches
    .branches__content.section__content
      h2.heading Visit our branches
      .branches__table-container
        table.branches__table
          tr 
            th Branches 
            th Services 
            th Available Tables
          tr 
            td Mall of Asia 
            td Makeup, Hair Services, Nailcare, Spa Treatments
            td 9
          tr 
            td Bonifacio Global City
            td Hair Services, Nailcare, Spa Treatments 
            td 10
          tr 
            td Makati City
            td Makeup, Hair Services, Nailcare
            td 5
          tr 
            td Cebu City 
            td Makeup, Hair Services
            td 5

  section.section.contact#contact
    .contact__content.section__content
      .contact__container
        h2.heading.contact__heading Get in touch for a Serene Experience
        .contact__info-container
          .contact__info-wrap
            span.contact__info-title Address:
            span.contact__info Mall of Asia 
          .contact__info-wrap
            span.contact__info-title Phone:
            span.contact__info +639234720238
          .contact__info-wrap
            span.contact__info-title Email:
            span.contact__info serenitysalon@gmail.com
          .contact__info-wrap
            span.contact__info-title Hours:
            span.contact__info 9:00 am - 5:00 pm
          .contact__socials
            a.contact__social-icon(href="")
            a.contact__social-icon(href="")
            a.contact__social-icon(href="")
            a.contact__social-icon(href="")
            a.contact__social-icon(href="")

      .contact__form-container 
        form(action="").contact__form 
          .contact__input-wrap 
            input(type="text" placeholder="Name" required)
          .contact__input-wrap 
            input(type="email" placeholder="Email" required)
          .contact__input-wrap 
            input(type="text" placeholder="Subject" required)
          .contact__input-wrap 
            textarea(name="subject", cols="20", rows="8" placeholder="Message")
          button(type="" value="") SUBMIT
          


block script
  script(src="js/top/index.ts")